@page
@using Microsoft.AspNetCore.Http
@model IndexModel
@{
    ViewData["Home"] = "Home page";
}


<div class="text-center">
    <h1 class="display-4">Ace Job Agency</h1>
    <p>Ace Job Agency</a>.</p>
</div>
